extends ../layout/_page

block append config
    - var title = "下層ページ1"
    - var ROOT_PATH = '../';
    - var IMG_PATH = ROOT_PATH + 'img/';

block append head
    link(rel='stylesheet', href=ROOT_PATH+'css/subpage-1/style.css')

block content