@use "../settings/variables";
@use "../settings/functions";

/*
 * 共通スタイル
 */

* {
    margin: 0;
    padding: 0;
  }

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none
}

